de_AE: unicode_AE {
   compatible = "zmk,behavior-macro";
   label = "Ä";
   #binding-cells = <0>;
   wait-ms = <30>;
   tap-ms = <30>;
   bindings = <
   &macro_tap &kp RWIN &kp DQUOTE &kp A
   >;
};

de_OE: unicode_OE {
   compatible = "zmk,behavior-macro";
   label = "Ö";
   #binding-cells = <0>;
   wait-ms = <30>;
   tap-ms = <30>;
   bindings = <
   &macro_tap &kp RWIN &kp DQUOTE &kp O
   >;
};

de_UE: unicode_UE {
   compatible = "zmk,behavior-macro";
   label = "Ü";
   #binding-cells = <0>;
   wait-ms = <30>;
   tap-ms = <30>;
   bindings = <
   &macro_tap &kp RWIN &kp DQUOTE &kp U
   >;
};
