/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ___ &none

&sk {  // sticky-key config
    release-after-ms = <450>;  // release after 0.6s
    quick-release;             // no double capitalization when rolling keys
};

&sl {  // sticky-layer config
    ignore-modifiers;          // allow chording sticky mods & layers
};

&lt {  // layer-tap config
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <100>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {

    td0: tap_dance_a {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <50>;
            bindings = <&kp A>, <&de_ae>;
        };

    tdu: tap_dance_u {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <50>;
            bindings = <&kp U>, <&de_ue>;
        };

    tdo: tap_dance_o {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <50>;
            bindings = <&kp O>, <&de_oe>;
        };

    tdz: tap_dance_z {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                tapping-term-ms = <50>;
                bindings = <&kp Z>, <&de_eszett>;
            };

    tdq: tap_dance_q {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <50>;
            bindings = <&kp Q>, <&kp ESC>;
        };

};

#define HOST_OS 1
#include "helper.h"
#include "german.dtsi"

#define DEFAULT 0
#define SYM 1
#define CONTROL 2
#define NAV 3
#define NUM 4
#define LETTERS 5

#define NAV_LEFT  &mt HOME LEFT        // tap: left  | long-tap: beginning of line
#define NAV_RIGHT &mt END RIGHT        // tap: right | long-tap: end of line
#define NAV_UP    &mt LC(HOME) UP      // tap: up    | long-tap: beginning of document
#define NAV_DOWN  &mt LC(END)  DOWN    // tap: down  | long-tap: end of document
#define NAV_BSPC  &mt LC(BSPC) BSPC    // tap: bspc  | long-tap: delete word backward
#define NAV_DEL   &mt LC(DEL)  DEL     // tap: del   | long-tap: delete word forward

keymap {
   compatible = "zmk,keymap";

    DEFAULT { bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &tdq          &kp W         &kp E         &kp R         &kp T           &kp Y         &tdu          &kp I         &tdo          &kp P
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &tda          &mt LALT S    &lt 3 D       &mt LCTRL F   &kp G           &kp H         &mt LCTRL J   &kp K         &mt LALT L    &mt RSHFT ENTER
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &tdz          &kp X         &kp V         &kp C         &kp TAB         &kp B         &kp N         &mt LGUI M    &kp COMMA     &kp DOT
        //╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                      &sl 1         &sk LSHFT       &lt 4 SPACE   &sl 1
        //                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
>;};
    SYM { bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp AT        &kp DOLLAR    &kp TILDE     &kp CARET     &kp LPAR        &kp RPAR      &kp PLUS      &kp UNDER     &kp GRAVE     &kp FSLH
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp PIPE      &kp LT        &kp EQUAL     &kp GT        &kp LBKT        &kp RBKT      &kp COLON     &kp SQT       &kp DQT       &kp AMPERSAND
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp BSLH      &kp POUND     &kp QMARK     &kp PERCENT   &kp LBRC        &kp RBRC      &kp MINUS     &kp EXCL      &kp SEMI      &kp STAR
        //╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                      &sl 2         ___             ___           ___
        //                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
>;};

    CONTROL { bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp LC(Q)     &kp LC(W)     &kp LC(E)     &kp LC(R)     &kp LC(LPAR)    &kp LC(RPAR)  &none     ___           &none     ___
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &none     &kp LC(S)     &kp LC(D)     &kp LC(F)     &kp LC(LBKT)    &kp LC(LBKT)  ___           ___           ___           ___
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            ___           ___           &kp LC(V)     &kp LC(C)     &kp LC(LBRC)    &kp LC(LBRC)  ___           &kp LGUI      ___           ___
        //╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                      &caps_word    &sk LSHFT       &none         &none
        //                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
>;};

    NAV { bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            ___           ___           ___           ___           ___             ___           &kp PG_UP     NAV_UP        ___           ___
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            ___           ___           ___           ___           ___             ___           NAV_LEFT      NAV_DOWN      NAV_RIGHT     NAV_BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            ___           ___           ___           ___           ___             ___           &kp PG_DN     ___           ___           NAV_DEL
        //╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                      ___           ___             ___           ___
        //                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
>;};

    NUM { bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            ___           &kp N1        &kp N2        &kp N3        ___             ___           ___           &kp STAR      ___           &kp ESC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp N0        &kp N4        &kp N5        &kp N6        &kp LPAR        &kp RPAR      &kp LT        &kp GT        &kp DEL       &kp BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp BSLH      &kp N7        &kp N8        &kp N9        &kp FSLH        &kp  PLUS     &kp MINUS     &kp EQUAL     &kp COMMA     &kp DOT
        //╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                      ___           &kp SPACE       ___           ___
        //                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
>;};
    LETTERS { bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            ___           ___           ___           ___           ___             ___           ___           ___           ___           ___
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            ___           ___           ___           ___           ___             ___           ___           ___           ___           ___
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            ___           ___           ___           ___           ___             ___           ___           ___           ___           ___
        //╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                                      ___           ___             ___           ___
        //                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
>;};


    };
};
